{% extends "StartPage.html" %}

{% set title %}
  Apply to adopt a child placed in your care
{% endset %}

{% block guidance %}
  <div class="govuk-body">
  <p>You can apply to adopt a child placed in your care through:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="#">placement by consent</a></li>
    <li><a href="#">a placement order</a></li>
  </ul>
  <p>You can only apply if the child:</p>
  <ul>
    <li>has lived with you for at least 10 weeks in England or Wales - there are different rules for Northern Ireland and Scotland</li>
    <li>is under 18 at the time you apply</li>
    <li>has never been married or in a civil partnership</li>
  </ul>
  <p>You must have lived in the British Isles for at least 12 months before you apply.</p>
  <p class="govuk-inset-text">You should talk to your adoption agency or social worker before you apply. This will help you decide if it's the right time for the child, you and your family.</p>
  <h2 class="govuk-heading-m">How to apply</h2>
  <p>It costs £170 to apply.</p>
  <p>You can apply to adopt 1 or more child in your care in the same application. It will be £170 for each application, not for each child.</p>
  <p>You'll need to provide each child's:</p>
  <ul>
    <li>birth certificate – you'll need to upload a scan and post the original</li>
    <li>placement order details – contact your social worker or adoption agency if you're not sure</li>
    <li>birth parents' names and, if known, addresses</li>
  </ul>
  <p>You'll need to provide each applicant's:</p>
  <ul>
    <li>birth certificate</li>
    <li>photo ID – 2 pieces for each, for example driver's licence and passport photo page</li>
  </ul>
  </div>
{% endblock %}
